{
  "openapi": "3.0.3",
  "info": {
    "title": "Reddit Content Discovery API",
    "description": "Discover and track Reddit content across communities. Get trending posts, find fresh content, and analyze subreddit activity for content discovery and monitoring.",
    "version": "2.0.0",
    "contact": {
      "name": "Reddit MCP Server"
    }
  },
  "servers": [
    {
      "url": "https://reddit.nstop.no",
      "description": "Production server"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Health Check",
        "description": "Check if the API is running and healthy",
        "operationId": "healthCheck",
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "healthy"
                    },
                    "service": {
                      "type": "string", 
                      "example": "Reddit MCP API"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/front-page": {
      "post": {
        "summary": "Discover Trending Reddit Posts",
        "description": "Find what's trending across all of Reddit right now. Use this to discover popular content without knowing specific subreddits. Choose 'hot' for current trends, 'top' for highest-rated posts in a timeframe, or 'new' for fresh content. Perfect for staying current with Reddit's front page.",
        "operationId": "discoverTrendingPosts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sort": {
                    "type": "string",
                    "enum": ["hot", "top", "new"],
                    "default": "hot",
                    "description": "Sort method: 'hot' for trending now, 'top' for highest scoring, 'new' for latest posts"
                  },
                  "limit": {
                    "type": "integer",
                    "default": 10,
                    "minimum": 1,
                    "maximum": 50,
                    "description": "Number of posts to return (1-50)"
                  },
                  "time_filter": {
                    "type": "string",
                    "enum": ["hour", "day", "week", "month", "year", "all"],
                    "default": "day",
                    "description": "Time period for 'top' posts only"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns trending posts from Reddit's front page with title, score, author, and link for each post",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrontPageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error occurred while fetching posts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/subreddit-posts-by-time": {
      "post": {
        "summary": "Get Popular Posts from Recent Timeframe",
        "description": "Find what was popular in a specific subreddit during a recent time period. Use this to discover what content performed best recently - perfect for identifying trending topics and successful post types. Great for content analysis and trend tracking.",
        "operationId": "getPopularPostsByTime",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["subreddit"],
                "properties": {
                  "subreddit": {
                    "type": "string",
                    "description": "Subreddit name (without r/ prefix)",
                    "example": "technology"
                  },
                  "time_period": {
                    "type": "string",
                    "enum": ["hour", "day", "week", "month", "year", "all"],
                    "default": "week",
                    "description": "Time period to analyze"
                  },
                  "limit": {
                    "type": "integer",
                    "default": 10,
                    "minimum": 1,
                    "maximum": 50,
                    "description": "Number of posts to return"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns top posts from the specified timeframe with engagement metrics and content details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubredditPostsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid subreddit name or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error occurred while fetching posts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/subreddit-new-posts": {
      "post": {
        "summary": "Find Fresh Content and Emerging Trends",
        "description": "Get the newest posts from a subreddit to discover fresh content before it becomes popular. Use this to spot emerging trends early, find breaking news, or monitor new discussions. Perfect for staying ahead of trends and real-time monitoring.",
        "operationId": "findFreshContent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["subreddit"],
                "properties": {
                  "subreddit": {
                    "type": "string",
                    "description": "Subreddit name (without r/ prefix)",
                    "example": "news"
                  },
                  "limit": {
                    "type": "integer",
                    "default": 10,
                    "minimum": 1,
                    "maximum": 50,
                    "description": "Number of newest posts to return"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns newest posts with timestamps and early engagement data for trend analysis",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubredditPostsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid subreddit name",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error occurred while fetching posts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/subreddit-rising-posts": {
      "post": {
        "summary": "Catch Viral Content Early",
        "description": "Get posts that are rapidly gaining popularity before they hit the front page. Use this to identify content that's about to go viral, spot trending discussions early, or find promising posts with growing engagement. Best for early trend detection.",
        "operationId": "catchViralContentEarly",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["subreddit"],
                "properties": {
                  "subreddit": {
                    "type": "string",
                    "description": "Subreddit name (without r/ prefix)",
                    "example": "worldnews"
                  },
                  "limit": {
                    "type": "integer",
                    "default": 10,
                    "minimum": 1,
                    "maximum": 50,
                    "description": "Number of rising posts to return"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns posts with rapidly increasing engagement that may become viral soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubredditPostsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid subreddit name",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error occurred while fetching posts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/subreddit-info": {
      "post": {
        "summary": "Analyze Subreddit Community Data",
        "description": "Get detailed information about a subreddit including member count, activity level, and community description. Use this to evaluate communities before engaging, understand audience size, or research niche topics. Essential for community analysis.",
        "operationId": "analyzeSubredditCommunity",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["subreddit"],
                "properties": {
                  "subreddit": {
                    "type": "string",
                    "description": "Subreddit name (without r/ prefix)",
                    "example": "MachineLearning"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns comprehensive community data including subscriber count, description, creation date, and content guidelines",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubredditInfoResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid subreddit name or subreddit not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error occurred while fetching subreddit information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/hot-threads": {
      "post": {
        "summary": "Get Currently Hot Posts from Subreddit",
        "description": "Fetch the hottest posts from a specific subreddit right now. Use this when you know which community to monitor and want to see what's actively trending there. Best for tracking specific communities you're interested in.",
        "operationId": "getCurrentlyHotPosts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["subreddit"],
                "properties": {
                  "subreddit": {
                    "type": "string",
                    "description": "Subreddit name (without r/ prefix)",
                    "example": "programming"
                  },
                  "limit": {
                    "type": "integer",
                    "default": 10,
                    "minimum": 1,
                    "maximum": 100,
                    "description": "Number of hot posts to return"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns currently trending posts from the specified subreddit with engagement metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubredditPostsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid subreddit name",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error occurred while fetching posts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/topic-latest": {
      "post": {
        "summary": "Get Latest Content from Topic Communities",
        "description": "Get comprehensive, recent content from multiple subreddits related to a topic. Provides minimal filtering and comprehensive metadata for LLM analysis including timestamps, engagement metrics, and content types. Results sorted by recency (newest first).",
        "operationId": "getTopicLatestContent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["topic"],
                "properties": {
                  "topic": {
                    "type": "string",
                    "description": "Topic name (e.g., 'artificial_intelligence_and_machine_learning', 'tech_news_and_discussion', 'programming')",
                    "example": "artificial_intelligence_and_machine_learning"
                  },
                  "limit": {
                    "type": "integer",
                    "default": 50,
                    "minimum": 1,
                    "maximum": 100,
                    "description": "Number of posts to return across all subreddits"
                  },
                  "max_subreddits": {
                    "type": "integer",
                    "default": 20,
                    "minimum": 1,
                    "maximum": 999,
                    "description": "Maximum number of subreddits to query per topic (set to 999 to query ALL)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns aggregated readable content from multiple topic-related subreddits, sorted by engagement",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopicLatestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid topic name",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error occurred while fetching topic content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/topics": {
      "get": {
        "summary": "List Available Topics",
        "description": "Get a list of all available topic categories for content aggregation. Use this to discover what topic areas you can query for aggregated content.",
        "operationId": "getAvailableTopics",
        "responses": {
          "200": {
            "description": "Returns list of available topics and their descriptions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "topics": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "List of available topic names"
                    },
                    "total_count": {
                      "type": "integer",
                      "description": "Total number of available topics"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description of the topics feature"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error occurred while fetching topics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/post-content": {
      "post": {
        "summary": "Get Detailed Post with Comments",
        "description": "Fetch complete content and discussion from a specific Reddit post. Use this to dive deep into a post you've found interesting, read the full discussion, or analyze comment sentiment. Requires a post ID from other discovery tools.",
        "operationId": "getDetailedPostContent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["post_id"],
                "properties": {
                  "post_id": {
                    "type": "string",
                    "description": "Reddit post ID (without prefixes)",
                    "example": "1mubl8b"
                  },
                  "comment_limit": {
                    "type": "integer",
                    "default": 20,
                    "minimum": 0,
                    "maximum": 100,
                    "description": "Number of top-level comments to fetch"
                  },
                  "comment_depth": {
                    "type": "integer",
                    "default": 3,
                    "minimum": 0,
                    "maximum": 10,
                    "description": "Maximum comment thread depth"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns complete post content with threaded comments and engagement metrics for deep analysis",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostContentResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid post ID or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error occurred while fetching post content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "RedditPost": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Post title"
          },
          "score": {
            "type": "integer", 
            "description": "Post score (upvotes minus downvotes)"
          },
          "comments": {
            "type": "integer",
            "description": "Number of comments"
          },
          "author": {
            "type": "string",
            "description": "Post author username"
          },
          "post_type": {
            "type": "string",
            "enum": ["text", "link", "gallery", "unknown"],
            "description": "Type of post content"
          },
          "content": {
            "type": "string",
            "description": "Post content (text, URL, or gallery link)",
            "nullable": true
          },
          "link": {
            "type": "string",
            "description": "Direct Reddit link to the post"
          }
        }
      },
      "FrontPageResponse": {
        "type": "object",
        "properties": {
          "sort": {
            "type": "string",
            "description": "Sort method used"
          },
          "time_filter": {
            "type": "string", 
            "description": "Time filter applied"
          },
          "posts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RedditPost"
            }
          }
        }
      },
      "SubredditPostsResponse": {
        "type": "object",
        "properties": {
          "subreddit": {
            "type": "string",
            "description": "The subreddit name"
          },
          "posts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RedditPost"
            }
          }
        }
      },
      "SubredditInfoResponse": {
        "type": "object",
        "properties": {
          "subreddit": {
            "type": "string",
            "description": "Subreddit name"
          },
          "subscribers": {
            "type": "integer",
            "description": "Number of subscribers"
          },
          "title": {
            "type": "string",
            "description": "Subreddit title"
          },
          "description": {
            "type": "string",
            "description": "Community description"
          },
          "created_at": {
            "type": "string",
            "description": "When the subreddit was created"
          },
          "nsfw": {
            "type": "boolean",
            "description": "Whether the subreddit contains adult content"
          },
          "subreddit_type": {
            "type": "string",
            "description": "Type of subreddit (public, private, etc.)"
          }
        }
      },
      "PostContentResponse": {
        "type": "object",
        "properties": {
          "post_id": {
            "type": "string",
            "description": "The post ID"
          },
          "title": {
            "type": "string",
            "description": "Post title"
          },
          "score": {
            "type": "integer",
            "description": "Post score"
          },
          "author": {
            "type": "string",
            "description": "Post author"
          },
          "post_type": {
            "type": "string",
            "description": "Type of post"
          },
          "content": {
            "type": "string",
            "description": "Post content",
            "nullable": true
          },
          "comments": {
            "type": "string",
            "description": "Formatted comment tree"
          }
        }
      },
      "TopicPost": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Post title"
          },
          "score": {
            "type": "integer",
            "description": "Post score (upvotes minus downvotes)"
          },
          "comments": {
            "type": "integer",
            "description": "Number of comments"
          },
          "author": {
            "type": "string",
            "description": "Post author username"
          },
          "post_type": {
            "type": "string",
            "enum": ["text", "link", "gallery", "unknown"],
            "description": "Type of post content"
          },
          "content": {
            "type": "string",
            "description": "Post content (text, URL, or gallery link)",
            "nullable": true
          },
          "link": {
            "type": "string",
            "description": "Direct Reddit link to the post"
          },
          "source_subreddit": {
            "type": "string",
            "description": "Which subreddit this post came from"
          },
          "created_utc": {
            "type": "number",
            "description": "Post creation timestamp (Unix timestamp)"
          },
          "url": {
            "type": "string",
            "description": "Original post URL (if link post)"
          },
          "domain": {
            "type": "string",
            "description": "Domain of the linked content"
          },
          "upvote_ratio": {
            "type": "number",
            "description": "Ratio of upvotes to total votes (0.0-1.0)"
          },
          "is_self": {
            "type": "boolean",
            "description": "Whether this is a text post (self post)"
          },
          "flair": {
            "type": "string",
            "description": "Post flair/category tag"
          }
        }
      },
      "TopicLatestResponse": {
        "type": "object",
        "properties": {
          "topic": {
            "type": "string",
            "description": "The topic that was queried"
          },
          "total_posts": {
            "type": "integer",
            "description": "Number of posts returned"
          },
          "subreddits_queried": {
            "type": "integer",
            "description": "Number of subreddits searched"
          },
          "posts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TopicPost"
            },
            "description": "Aggregated posts from multiple subreddits"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "description": "Error message describing what went wrong"
          }
        }
      }
    }
  }
}